<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /gym-2.0/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /gym-2.0/index.html [L]
</IfModule>

# Supporto per Authorization header
<IfModule mod_setenvif.c>
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
</IfModule>